.a4doc {
    
}

.a4doc__paper {
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    width: calc(210px * 2);
    height: calc(297px * 2);
    margin: 0 auto;
    margin-top: 5px;

    font-size: 16px;
}

.a4doc__paper ol,
.a4doc__paper h2 {
    margin: 0;
    padding: 0;
}

.a4doc__paper ol {
    padding-left: 20px;
}